<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Main Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!--    <link rel="stylesheet" href="mystyle.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid border my-5">
  <div class="bg-light rounded shadow p-3">
    <h3 class="text-center" th:text="#{welcomeMessage}"></h3>
  </div>
</div>

<div class="container-fluid border my-5">
  <ul class="nav nav-pills nav-justified p-2">
    <li class="nav-item m-1"><a class="nav-link btn btn-sm btn-info" href="/createorder" th:text="#{createOrder}"></a></li>
    <li class="nav-item m-1"><a class="nav-link btn btn-sm btn-info" href="#" th:text="#{placeholder}"></a></li>
    <li class="nav-item m-1"><a class="nav-link btn btn-sm btn-info" href="#" th:text="#{placeholder}"></a></li>
    <li class="nav-item m-1"><a class="nav-link btn btn-sm btn-info" href="#" th:text="#{placeholder}"></a></li>
    <li class="nav-item m-1"><a class="nav-link btn btn-sm btn-info" href="#" th:text="#{placeholder}"></a></li>
  </ul>
</div>

<div class="container-fluid border my-5">
  <h2>Orders table</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Item</th>
        <th>Count</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="orderItem : ${orders}">
        <td th:text="*{orderItem?.name}"></td>
        <td th:text="*{orderItem?.address}"></td>
        <td th:text="*{orderItem?.phone}"></td>
        <td th:text="*{orderItem?.email}"></td>
        <td th:text="*{orderItem?.item}"></td>
        <td th:text="*{orderItem?.count}"></td>
        <td>
          <form th:action="@{'/deleteorder/{id}' (id=${orderItem?.id})}" th:method="post">
            <button class="btn btn-danger" type="submit" >Delete Order</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
